@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSansBlack";
  src: url("/ProductSans-Black.ttf") format('truetype');
}

@font-face {
  font-family: "ProductSansRegular";
  src: url("OpenSans-Regular.ttf") format('truetype');
}

* {
  letter-spacing: -0.025em;
}

/* make any iframe inside an .aspect-video fill 100% */
.aspect-video iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

