@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSansBlack";
  src: url("/ProductSans-Black.ttf") format('truetype');
}

@font-face {
  font-family: "ProductSansRegular";
  src: url("ProductSans-Regular.ttf") format('truetype');
}

* {
  letter-spacing: -0.025em;
}
