@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSansBlack";
  src: url("../public/ProductSans-Black.ttf");
}

@font-face {
  font-family: "ProductSansRegular";
  src: url("../public/ProductSans-Regular.ttf");
}

* {
  letter-spacing: -0.025em;
}
